<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <link rel="stylesheet" href="../public/css/dashboard.css">
  <link rel="stylesheet" href="../public/css/lead_report.css">
  <title>Dashboard</title>
</head>

<body>
  <!-- Navigation Menu -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Dashboard</a>

      <!-- Menu Items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#" id="onlineCourse">Online Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="ninetyPlus">Ninety Plus</a>
          </li>
        </ul>
      </div>

      <!-- Logout Link -->
      <a href="/auth/logout" class="logout-link" id="logout">Logout</a>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mt-3">
    <!-- Metric Cards -->
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center" style="background: linear-gradient(135deg, #a263e7, #3f7ce2)">
          <div class="card-body">
            <h5 class="card-title">Total Leads</h5>
            <p class="card-text">120</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center" style="background: linear-gradient(135deg, #cb9c11, #e1fc25);">
          <div class="card-body">
            <h5 class="card-title">Qualified</h5>
            <p class="card-text">80</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center" style="background: linear-gradient(135deg, #91cb11, #e1fc25);">
          <div class="card-body">
            <h5 class="card-title">Converted</h5>
            <p class="card-text">40</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center" style="background: linear-gradient(135deg, #cb1111, #fc25a8);">
          <div class="card-body">
            <h5 class="card-title">Lost</h5>
            <p class="card-text">15</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Report Shortcuts -->
    <div class="mt-5">
      <h4>Reports</h4>
      <ul>
        <li><a href="#" class="shortcut-link" id="leadReport">Lead Report</a></li>
        <li><a href="#" class="shortcut-link" id="courseFeeReport">Course Fee Report</a></li>
      </ul>
    </div>
  </div>


  {% include "footer.html" %}

  <script>
    $('body').ready(function () {
      $('#leadReport').click(function(){
        console.log('ethi');
      });
    });
  </script>

</body>

</html>