<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password Page</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/auth.css">
</head>

<body>
  <div style="min-width: 400px;">
    {% if status=='failed' %}
      <div class="alert alert-danger pass-alert" role="alert">
        {{ message }}
      </div>
    {% elif status =='success' %}
      <div class="alert alert-success pass-alert" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <br>
    <div class="login-container">
      <h2 class="login-title">Reset Password</h2>
      <small id="forgot-passwordHelp" class="text-muted center-text">
        Enter the username you registered with us and <br>we will send mail to your registerd mail.
      </small>
      <form action="/auth/reset-pass" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="userName" name="userName" class="form-control" id="userName" placeholder="Enter your username"
            required>
        </div>
  
        <button type="submit" class="btn btn-primary btn-block">Proceed</button>
      </form>
    </div>
    <div class="text-center mt-3">
      <a  href="/auth/login" class="text-primary"><i class="bi bi-arrow-right"></i> Go to Login</a>
    </div>
  </div>

  <script src="../public/js/jquery-3.5.1.slim.min.js"></script>
  <script src="../public/js/popper.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="../public/js/script.js"></script>
</body>

</html>