<!-- Sidebar -->
<aside id="sidebar">
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="#">Bright eduway</a>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <!-- <li class="sidebar-header">
                Tools & Componentsbd268
            </li> -->
            <li class="sidebar-item">
                <a href="/dash" class="sidebar-link text-white"><i class="bi bi-house-door"></i> Home</a>
            </li>
            <li class="sidebar-item">
                <a href="/user-profile" class="sidebar-link text-white"><i class="bi bi-person"></i> Profile</a>
            </li>
            <li class="sidebar-item">
                <a href="/course" class="sidebar-link text-white"><i class="bi bi-journal-text"></i> Course
                    Details</a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link text-white"><i class="bi bi-bell"></i> Notifications</a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link text-white"><i class="bi bi-award"></i> Certification Details</a>
            </li>
        </ul>
    </div>
    <div class="fixed-bottom">
        <a href="/auth/logout" class="sidebar-link text-white"><i class="bi bi-box-arrow-right"></i> Logout</a>

    </div>
</aside>
<div class="navbar navbar-expand border border-primary px-3" style="height: 60px">
    <!-- Button for sidebar toggle -->
    <button class="btn" type="button" data-bs-theme="dark">
        <i class="bi bi-list"></i>
    </button>
</div>