.table-container {
    margin: 20px auto;
    /* max-width: 1200px; */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table tbody tr {
    background-color: white !important;
    border-bottom: 1px solid #ddd;
}

.nested-row {
    background-color: #f0f8ff !important;
    border-top: 2px solid #ccc;
    /* Elevated border for nested rows */
}

.action-btn {
    cursor: pointer;
    color: #323232;
    font-size: 18px;
    display: inline-block;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.action-btn.collapsed {
    transform: rotate(0deg);
}

.action-btn.expanded {
    transform: rotate(180deg);
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 0;
    margin: 0 -5%;
    overflow: hidden;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }

    30% {
        box-shadow: 9984px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }

    30% {
        box-shadow: 9999px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }

    30% {
        box-shadow: 10014px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px;
    }
}