body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
  }
  .card {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .card-body {
    text-align: center;
  }
  .success-icon {
    font-size: 2rem;
    color: #28a745;
  }
  .failed-icon {
    font-size: 2rem;
    color: #f50d0d;
  }
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #ffffff;
  }